.tt {
  width: 100%;
  border: none;
}
#crvo >div,#crvo{
  text-align: center;
}

#crvo > .tt>.ant-input {
  outline: none;
  /* border-bottom: 1px solid #000; */
  width: 100%;
  height: 40px;
}
.bottom {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.bottom > div {
  display: inline-block;
}
ul>li>div>.ant-input{
width: 90%;
}
.time {
  opacity: 0.6;
}
.add{
  margin-right: 20px;
}
.time > span {
  display: inline-block;
  margin-top: 1px;
}
.time > input {
  float: right;
  border: none;
}
.any {
  height: 20px;
  line-height: 20px;
  width: 300px;
  text-align: center;
}

.any > input {
  display: inline;
  width: 16px;
  height: 16px;
  padding: 0;
  margin-top: -3px;
  vertical-align: middle;
}
.sub {
  width: 80px;
  margin: 0 auto;
}
