body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.shell {
  margin: 0;
  height: 100%;
}
aside {
  width: 160px;
  height: 100%;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(250, 249, 249);
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  height: 100px;
}
.container {
  display: flex;
  border: 1px solid;
  border-color: aliceblue;
  height: 100%;
}
label {
  width: 120px;
  font-size: 0;
  display: block;
  margin: 0;
  text-align: center;
  line-height: 60px;
  border-radius: 9px;
  border: none;
}

label > *,
label > .anticon,
label > .anticon-form {
  font-size: medium;
  vertical-align: middle;
  display: inline-block;
}

label:hover {
  background-color: aliceblue;
}
label:active {
  background-color: #1979fe;
  color: white;
}
a {
  text-decoration: none;
}
a:active {
  color: white;
}
.router-link-active {
  text-decoration: none;
}
.avatar {
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  /* margin: 10px 10px 0 0; */
  /* background-image: url(./static/avatar.png);
  background-repeat: no-repeat;
  background-size: cover; */
  width: 40px;
  height: 40px;
}
