/* .user-id {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  text-align: center;
  border-radius: 999px;
  display: inline-block;
  border: 1px solid;
  margin: 2px;
} */
.vv {
  width: 100%;
  /* background-color: bisque; */
}

/* .vv > span {
  display: block;
  width: 100%;
} */
.vv>.voteinfo{
  width: 400px;
margin:  0 auto;
  /* background-color: aqua; */
}
